@media all and (max-width: 400px) {
/*                       header                   */
    
    .head {
        min-height: 590px;
    }
    
    .head_bottom {
        padding: 0 4px;
    }
    
    .toggle-mnu {
         margin-right: -30px;
         margin-top: 11px;
    }
    
    .head_bottom h2 {
        margin-top: 70px;
        font-size: 40px;
        text-align: center;
    }
    
    .head_bottom p {
        font-size: 20px;
         text-align: center;
        margin-bottom: 0;
    }
    
    .container .head_btn {
        margin-top: 35px;
        display: block;
        margin-left: 35px;;
    }
/*                          header                         */
/*                        big_white_section                */
    
    .big_white_section h3 {
        margin-top: 50px;
        font-size: 25px;
    }
    
    .big_white_section h3::before, .big_white_section h3::after {
        display: none;
    }
    
    .big_white_section p {
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 0;
    }
    
    .big_white_section .title .content-box  {
        margin-bottom: 30px;
    }
    
    .big_white_section .title .content-box img {
        float: none;
        margin: 0 auto;
    }
    
    .big_white_section .center_phone img {
        display: none;
    }
    
   
/*                        big_white_section                */
    
/*                            blue_section                   */
    
    .blue_section .video iframe {
        width: 100px;
    }
/*                             blue_section                  */
