                                /*header--------------------------*/
a:hover {
    text-decoration: none;
}

.head {
   min-height: 760px;
   background-image: url(../img/topbg.png); 
   background-repeat: no-repeat;
   background-size: cover;
   
}

.top-line {
    min-height: 80px;
    background-color: #fff;
    margin-top: 30px;
    padding: 0 40px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #1ab798;
    font-size: 30px;
    line-height: 40px;
}

.top-menu li a {
    font-family: 'Open Sans', sans-serif;
    color: #282528;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: font-weight 0.3s ease;
}

.top-menu li a:hover {
    font-weight: 400;
}


.top-menu li {
    list-style-type: none;
    float: left;
    margin-left: 45px; 
}

.top-menu {
    float: right;
    margin-top: 32px;
}

.hidden-menu li {
    float: none;
}

.hidden-menu li {
    text-align: right;
}

.hidden-menu {
    margin-top: 0;
    display: none;
}

.head_bottom {
    color: #fff;
    padding: 0 40px;
}

.head_bottom h2  {
    margin-top: 170px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px; 
}

.head_bottom p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.head_bottom ul {
    margin-top: 53px;
    padding-left: 12px;
    list-style: none;
}


.head_bottom ul li {
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.head_bottom ul li img {
    top: -2px;
    left: -17px;
    position: relative;
}

.container .head_btn {
    width: 212px;
    height: 50px;
    background-color: #17d0ac;
    border-radius: 5px;
    color: #fff;
    display: block;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 81px;
}

.phone_1 {
    width: 285px;
    position: absolute;
    bottom: -200px;
    right: 45px;
}

.phone_2 {
    width: 260px;
    position: absolute;
    bottom: -205px;
    right: 140px;
}

                            /*header-----------------------------*/






                            /*big_white_section-----------------*/
                          

.big_white_section {
    min-height: 1150px;
    background-color: #fff;
}

.big_white_section h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #1ab798;
    font-size: 28px;
    text-align: center;
    margin-top: 122px;
}

.big_white_section h3::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #babdc1;
    margin-top: -16px;
    left: 402px;
}


.big_white_section h3::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #babdc1;
    margin-top: 15px;
    right: 405px;
}

.big_white_section img {
    display: block;
    margin: 0 auto;
}

.big_white_section p {
    margin-top: 66px;
    margin-bottom: 85px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #282528;
    text-align: center;
}



.big_white_section .center_phone {
    width: 314px;
    margin: 0 auto;
}

.col-padding {
    padding-top: 55px;
}


.content-box h4 {
    color: #282528;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

.content-box p {
    margin-top: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #282528;
    text-align: left;
}

.content-box img {
    display: block;
    float: left;
    padding-top: 5px;
}

.text_wrap {
    float: left;
    width: 300px;
    padding-left: 40px;
}


                              /*big_white_section-----------------*/

                              /*blue_section-----------------*/


.blue_section {
    min-height: 450px;
    background-color: #31d4e7;
}

.blue_section h3 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: #222222;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 25px;
}

.blue_section p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
}

.blue_section a {
    float: left;
    padding-right: 20px;
}

.blue_section a {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: #0098cd;
    list-style-type: none;
    line-height: 60px;
    padding-left: 20px;
    margin-right: 15px;
}

.blue_section a:hover {
    background-color: #222222;
}

.blue_section a img {
    height: 31px;   
}



.video {
    padding-top: 70px;
    padding-left: 55px;
}


                                  /*bleu_section-----------------*/


                                /* little_white_section---------*/

.little_white_section {
    min-height: 1510px;
    background-color: #fff;
}

.little_white_section h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #1ab798;
    font-size: 28px;
    text-align: center;
    margin-top: 122px;
}

.little_white_section h3::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #babdc1;
    margin-top: -16px;
    right: 402px;
}


.little_white_section h3::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #babdc1;
    margin-top: 15px;
    left: 405px;
}

.little_white_section img {
    display: block;
    margin: 0 auto;
}


.little_white_section p {
    margin-top: 40px;
    margin-bottom: 85px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #282528;
    text-align: center;
}






.little_white_section .item {
    position: relative;
}

.little_white_section .item h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 25px 40px;
    margin: 0;
}

.little_white_section .item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 75px 22px;
    margin: 0;
}

.little_white_section .item a  img {
   height: 25px;
   width: 25px;
}


.little_white_section .item .first_icon_team {
    width: 42px;
    height: 42px;
    background-color: #177966;
    text-align: center;
    padding-top: 8px;
    margin-top: 235px;
    margin-left: 70px;
}

.little_white_section .item  .second_icon_team {
    width: 42px;
    height: 42px;
    background-color: #177966;
    text-align: center;
    padding-top: 8px;
    margin-top: 235px;
    margin-left: 115px;
}

.little_white_section .item  .third_icon_team{
    width: 42px;
    height: 42px;
    background-color: #177966;
    text-align: center;
    padding-top: 8px;
    margin-top: 235px;
    margin-left: 160px;
}


.little_white_section .item  h4, .little_white_section .item  p, .little_white_section .item  a {
    opacity: 0;
    position: absolute;
    text-align: center;
}

.little_white_section .item:hover h4, .little_white_section .item:hover  p, .little_white_section .item:hover a {
    opacity: 0.8;
    z-index: 2;
}



.little_white_section .item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1ba98d;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.little_white_section .item:hover::after {
    opacity: 0.6;
    
}

.little_white_section .item img {
    width: 100%;
}


.little_white_section .team_name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #0eb493;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px 0;
}

.little_white_section .About_team {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #979ca1;
    text-align: center;
    margin: 0;
}

.what_team_say {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #0eb493;
    font-size: 28px;
    text-align: center;
    padding: 0;
    margin-top: 135px;
}

.what_team_say::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 60px;
    background-color: #babdc1;
    top: -14px;
    right: -770px;
}


.what_team_say::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 60px;
    background-color: #babdc1;
    top: 16px;
    left: 340px;
}

.what_team_say img {
    display: block;
    margin: 0 auto;
}



.little_white_section .slide .photo_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #c4c7c7;
    margin-top: 33px;
    margin-bottom: 30px;
}


.little_white_section .slide .tm {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 0 0;
}

.little_white_section .slide p {
    margin-top: 5px;
}

.little_white_section .slide  .pharagraf {
    padding: 0 29px;
}

.little_white_section .slide .pharagraf p {
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #7e848b;
    text-align: center;
    margin: 0 0 50px 0;
   
}

.little_white_section .slide .pharagraf p::before {
    content: "";
    display: block;
    height: 40px;
    width: 50px;
    background-image: url(../img/two_.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -19px;
    margin-left: -51px; 
  
}





                                /* little_white_section-----------*/

                                /*footer--------------------------*/


footer {
    background-image: url(../img/foot_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 680px;
}

.foot h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.foot h4::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #fff;
    top: 25px;
    left: 420px;
}

.foot h4::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #fff;
    top: 25px;
    right: 420px;
}

.foot img {
    display: block;
    margin: 0 auto;
}

.foot h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 17px;
    margin-top: 100px;
}

.foot p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #bfbdbd;
    font-size: 14px;
}

.foot .social_foot ul {
    padding: 30px 0 50px 0;
}

.foot .social_foot ul li {
    list-style-type: none;
    float: left;
    padding-right: 15px;
}


.foot .social_foot ul li a img {
    height: 40px;
    width: 40px;
}

.foot .social_foot .contact {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #bface2;
    font-size: 14px;
    padding-top: 5px;
    margin: 0;
}

.foot form {
    margin-top: 100px;
}

.foot .name {
    width: 270px;
    height: 45px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
}

.foot .email {
    width: 270px;
    height: 45px;
    border-radius: 4px;
    border: none;
    float: right;
}

.submit {
    width: 170px;
    height: 50px;
    float: right;
    border-radius: 4px;
    background-color: #31d4e7;
    border: none;
    color: #fff;
}


.text_area {
    margin-top: 20px;
    height: 180px;
    width: 556px;
    background-color: #fff;
    color: #a89696;
    text-align: left;
    line-height: 200px;
    border-radius: 4px;
    border: none;
}



.btn_bl {
    border-top: 1px solid #aca3a3;
    min-height: 60px;
    margin-top: 150px;
}


.btn_bl .bottom_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #bfbdbd;
    padding-right: 0;
    
}

.btn_bl .bottom_text_1 {
    float: left;
    margin-right: 500px;
}















::-webkit-input-placeholder {color:c1c1c1; }
::-moz-placeholder          {color:c1c1c1; }/* Firefox 19+ */
:-moz-placeholder           {color:c1c1c1; }/* Firefox 18- */
:-ms-input-placeholder      {color:c1c1c1; }

                                /*footer--------------------------*/


.toggle-mnu {
  display: block;
  width: 58px;
  height: 58px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 30px;
  float: right;
  border: 2px solid transparent;
  padding: 10px;
  padding-top: 17px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .toggle-mnu span:after {
    top: 18px; }
  .toggle-mnu span {
    position: relative;
    display: block; }
  .toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 3px;
    background-color: #282528;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .toggle-mnu.on span {
    background-color: transparent; }
  .toggle-mnu.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0px);
        -ms-transform: rotate(45deg) translate(-1px, 0px);
            transform: rotate(45deg) translate(-1px, 0px); }
  .toggle-mnu.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
        -ms-transform: rotate(-45deg) translate(6px, -7px);
            transform: rotate(-45deg) translate(6px, -7px); }




